html, body{
	background: #edeeef url(../img/bg.png) top center;
	background-position: repeat;
	box-shadow:0 0 150px #fff inset;
	color:#333;
	font-size: 16px;
	font-family: 'Helvetica Neue', 'HelveticaNeue', Arial, Sans-Serif;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
#container{
	background:url(../img/splash.png) no-repeat top center;
	margin:0 auto;
	max-width:960px;
	width:100%;
}
#content{
	margin:0 10px;
}
header{
	margin:0 0 20px;
	padding:30px 0 10px;
	text-align:center;
}
header img{	
	height:auto;
	max-width:400px;
	width:100%;
}
#intro{
	background-color:rgba(255, 255, 255, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 #fff;	
	border-radius:4px;
	margin:0 0 30px;
	padding: 10px 20px;
	text-shadow:0 1px 0 #fff;
	text-align: center;
}
#posts{
	list-style:none;
	margin:0;
	padding:0;
}
#posts li{
	background-color:#fff;
	border-radius:4px;
	box-shadow: 0px 0px 6px #c9c9c9;
	padding:20px;
	margin:0 0 30px;
}
footer{
	background-color:rgba(255, 255, 255, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 #fff;	
	border-radius:4px;
	margin:0 0 20px;
	padding: 0;
	text-shadow:0 1px 0 #fff;
}
footer p{
	color:#999;
	display:inline-block;
	font-size:14px;
	margin:10px 0 0 10px;
}
footer span{
	display:inline-block;
	margin:6px 0 0 10px;
	vertical-align:text-bottom;
}
#social{
	float:right;
	margin:10px;
	padding:0;
}
#social li{
	display:inline;
	list-style:none;
	margin:0 0 0 5px;
	padding:0;
}